* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Anonymous Pro', sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(../fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(../fonts/AnonymousPro-Regular.ttf);
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../fonts/IBMPlexMono-Medium.ttf);
}

:root {
	--text_gray: #a1a6b4;
}

.title {
	padding-top: 25px;
	color: var(--black, #121723);
	font-family: IBM Plex Mono;
	font-size: 48px;
	font-weight: 500;
	line-height: 48px;
}

.container {
	margin: 0 auto;
	max-width: 1160px;
}

/* Хедер */
.container__apart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.h__100 {
	height: 100%;
}

.header {
	height: 110px;
	background: var(--white, #fff);
	border-bottom: 1px solid #a1a6b4;
}

.header__logo {
	width: 212px;
}

.socials {
	color: #000;
	display: inline-flex;
	align-items: center;
	gap: 24px;
}

.social {
	font-size: 20px;
	font-weight: 700;
}

.footer {
	padding-top: 32px;
	padding-bottom: 21px;
	background: var(--black, #121723);
}

.footer__logo {
	width: 300px;
	height: auto;
}

.social__link {
	color: #000;
}

.social__link--white {
	color: #fff;
}

.divider {
	margin-top: 32px;
	height: 1px;
	background: rgba(230, 232, 236, 0.4);
	margin-bottom: 18px;
}

.copyright {
	color: var(--text_gray, #a1a6b4);
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.main {
	background: #f1f1f1;
}

.cards {
	display: grid;
	margin-top: 24px;
	padding-bottom: 25px;
	gap: 24px;
	grid-template-columns: repeat(3, 1fr);
}

.card {
	border-radius: 12px;
	background: white;
	height: fit-content;
}

.card__image {
	display: block;
	max-width: 100%;
	border-radius: 12px 12px 0 0;
}

.products__footer {
	padding: 32px 24px;
}

.card__title {
	color: var(--black, #121723);
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 10px;
}

.card__text {
	color: var(--black, #121723);
	font-size: 20px;
	font-weight: 400;
}
