* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Anonymous Pro', sans-serif;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(../../fonts/AnonymousPro-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url(../../fonts/AnonymousPro-Regular.ttf);
}

@font-face {
	font-family: 'IBM Plex Mono';
	src: url(../../fonts/IBMPlexMono-Medium.ttf);
}

.main {
	background: #f1f1f1;
}

:root {
	--text_gray: #a1a6b4;
}

.container {
	margin: 0 auto;
	max-width: 1160px;
}

.container__apart {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.h__100 {
	height: 100%;
}

/* Хедер */

.header {
	height: 110px;
	background: var(--white, #fff);
	border-bottom: 1px solid #a1a6b4;
}

.header__logo {
	width: 212px;
}

.socials {
	color: #000;
	display: inline-flex;
	align-items: center;
	gap: 24px;
}

.social {
	font-size: 20px;
	font-weight: 700;
}

/* Футер */

.footer {
	padding-top: 32px;
	padding-bottom: 21px;
	background: var(--black, #121723);
}

.footer__logo {
	width: 300px;
	height: auto;
}

.social__link {
	color: #000;
}

.social__link--white {
	color: #fff;
}

.divider {
	margin-top: 32px;
	height: 1px;
	background: rgba(230, 232, 236, 0.4);
	margin-bottom: 18px;
}

.copyright {
	color: var(--text_gray, #a1a6b4);
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.container__main {
	display: flex;
	padding: 0px 150px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
	align-self: stretch;
}

.container__main__content {
	display: flex;
	padding: 32px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
	align-self: stretch;
}

.sneaker__big {
	display: flex;
	width: 1140px;
	padding: 48px;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	border-radius: 50px;
	background: var(--white-100, #fff);
}

.sneaker__big__img {
	height: 600px;
	align-self: stretch;
	border-radius: 50px 50px 0px 0px;
	background: lightgray -142px -252px / 126.926% 157.643% no-repeat;
}

.sneaker__big__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
}

.sneaker__big__title {
	color: var(--black, #121723);
	font-family: Anonymous Pro;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 48px;
	align-self: stretch;
}

.sneaker__big__subtitle {
	color: var(--black, #121723);
	font-family: Anonymous Pro;
	font-size: 36px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	align-self: stretch;
}

.sneaker__big__text {
	color: var(--black, #121723);
	font-family: Anonymous Pro;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
	flex: 1 0 0;
}

.sneaker__big__additional__info {
	display: flex;
	align-items: flex-start;
	gap: 32px;
	align-self: stretch;
}

.sneaker__big__parameters {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	flex: 1 0 0;
}

.sneaker__big__parameters__header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	align-self: stretch;
}

.parameters__header {
	color: var(--black, #121723);
	font-family: Anonymous Pro;
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.sneaker__big__parameters__line {
	height: 1px;
	align-self: stretch;
	background: var(--black, #121723);
}

.sneaker__big__parameter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	align-self: stretch;
}

.sneaker__big__parameter__info {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-self: stretch;
}

.sneaker__big__parameter__title {
	color: var(--black, #121723);
	font-family: Anonymous Pro;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.sneaker__big__parameter__value {
	color: var(--black, #121723);
	text-align: right;
	font-family: Anonymous Pro;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
